$min-font: 'Lato', sans-serif;
$min-farve: #333333;
$highlight: #cf2c28;

// til paragraffer

$font-size1: 400;
$font-px1: 20px;
$line-height1: 32px;

// til overskrifter

$font-size2: 700;
$font-px2: 40px;
$line-height2: 48px;


// spacing
$min-padding: 40px;